.login__forgot {
  transition: color 0.3s ease;
}

.login__forgot:hover {
  color: hsl(var(--clr-secondary));
  cursor: pointer;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.email-form__input {
  border: none;
  background-color: hsl(var(--clr-light-500));
  padding: 0.5rem;
}

.email__submit-btn {
  margin-left: auto;
}
